<style>
    html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Microsoft YaHei UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgb(242, 242, 242);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
        * { margin: 0; padding: 0;}

.menu .header { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Microsoft YaHei UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";position: fixed; left: 0; top: 0; width: 100%; 
/*    background-color: #323436;*/
    }   
.menu .inner { width: 1000px; margin: 0 auto; overflow: hidden; zoom: 1;}
.menu h0 { float: left;}
.menu h0 img { display: block; border: 0;}
.menu .nav { float: right; list-style-type: none; font-family: "Microsoft Yahei";}
.menu .nav li { float: left; margin-left: 5px;}
.menu .nav a { float: left; color: #FFF;text-decoration: none;}
.menu .nav a:hover { background-color: rgba(255,255,255,0.3);}

/*.menu .large .header { position: fixed; left: 0; top: 0; width: 100%; }*/
.menu .large .inner {margin-left: -150px;padding: 25px 300px 25px;}
.menu .large h0 img { height: 64px;}
.menu .large .nav { padding-top: 10px;}
.menu .large .nav a { height: 44px; padding: 0 20px; line-height: 44px; font-size: 18px;}

/*.menu .small .header { position: fixed; left: 0; top: 0; width: 100%; background-color: #323436;}   */
.menu .small .inner { padding: 12px 300px 12px;margin-left: -150px; background-color: rgba(0, 0, 0, 0.6);}
.menu .small h0 img { height: 34px;}
.menu .small .nav { padding-top: 3px;}
.menu .small .nav a { height: 28px; padding: 0 10px; line-height: 28px; font-size: 14px;}

.menu .header, .menu .inner, .menu a, .menu img, .menu li {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Microsoft YaHei UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; transition: all 1s; -moz-transition: all 1s; -webkit-transition: all 1s; -o-transition: all 1s;}

/* 若浏览器支持 backdrop-filter，则不透明度为 60%，并启用高斯模糊 */

@supports ( -webkit-backdrop-filter: none) or ( backdrop-filter: none) {
    .menu .small .inner { 
        padding: 12px 300px 12px;
        margin-left: -150px;
/*        background-color: #323436;*/
        background-color: rgba(100, 100, 100, 0.6);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
}
    
.section_1 { height: 1000px;}
    .final {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #333;
}

    @charset "utf-8";
.galleryContainer {width: 1024px;margin:0 auto;position:relative;}
/* galleryImage */
.galleryImage{background-color: rgba(0,0, 0, 0.6);;width:325px;height:260px;overflow:hidden;margin:5px;float:left;}
.info{margin-left:10px;font-family:arial;padding:3px;}
.info h2{color:white; font-size: 20px}
.info p{color:rgba(150,150, 150, 1)}

